<h1>Welcome <%= @user.name %></h1>

<section id="discover-movies">
<%= button_to "Discover Movies", discover_index_path, method: :get %>
</section>

<section id="friends">
  Yo Friends
</section>

<section id="viewing-parties">
  Yo Partays
</section>
